.main {
  width: 1040px;
  padding: 50px 0;
  margin: auto 0;
  display: flex;
  justify-content: space-around;
}

.logo>img {
  width: 400px;
}

@media (max-width: 1040px) {
  .main {
    width: 340px;
    justify-content: center;
  }

  .logo {
    display: none;
  }
}