.profileLink {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.username {
  color: var(--white);
  font-size: 18px;
}

.username:hover {
  color: var(--gray);
}