* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', 'Onest', sans-serif !important;
}

:root {
  --nav-height: 35px;
  --header-height: 85px;
  --dark-blue: #100D25;
  --blue: #20136d;
  --purple: #423597;
  --dark-celestial: #176d82;
  --celestial: #219ebc;
  --dark-gray: #bfbbdd;
  --gray: #A5A4AB;
  --white: #ECEBF5;
  --error-red: #ff424f;
  --error-bg: #ffdae0;
  --valid-green: #66CC00;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background-color: transparent;
}