.inputContainer {
  height: 40px;
  display: flex;
  position: relative;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--gray);
  outline: 0;
}

.input:focus {
  border: 1px solid black;
}

.textWarning {
  width: 100%;
  height: 21px;
  padding-top: 5px;
  margin-bottom: 10px;
  color: var(--error-red);
  font-size: 12px;
}

.inputWarning {
  background-color: #ffeaed;
  border: 1px solid #ff424f;
}

.inputWarning:focus {
  border: 1px solid #ff424f;
}