.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 30px;
  border: calc(30px / 100 * 16) solid var(--white);
  border-top: calc(30px / 100 * 16) solid var(--celestial);
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}